@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Bold.woff2") format("woff2"), url("../fonts/DancingScript-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Medium.woff2") format("woff2"), url("../fonts/DancingScript-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-SemiBold.woff2") format("woff2"), url("../fonts/DancingScript-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.primary-color-bg {
  background-color: #035f93;
}

.secondary-color-bg {
  background-color: #ffffff;
}

.content {
  color: #313131;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.main {
  /*margin: auto;*/
  text-align: center;
  position: relative;
  flex-grow: 1;
}

.main-color {
  color: #035f93;
}

.main-color-emphasized {
  color: #035f93;
}

.font-secondary {
  font-family: 'Dancing Script', cursive;
}

.section {
  overflow: auto;
}

.container {
  margin: auto;
}

.container-grid {
  display: grid;
}

.container-grid-thirds {
  grid-template-columns: 2fr 1fr;
}
/*
@media only screen and (max-width: 1280px) {
  .container-grid-thirds {
    display: block;
  }
}
*/

.container-grid-halves {
  grid-template-columns: 1fr 1fr;
}
/*
@media only screen and (max-width: 1280px) {
  .container-grid-halves {
    display: block;
  }
}
*/

.navigation {
  padding: 10px;
}

.centered-container {
  text-align: center;
}

.container-floated {
  float: left;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.link {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-distributed {
  justify-content: space-around;
}

.menu-item {
  text-transform: uppercase;
  padding: 20px;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary-title {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0px;
  padding-bottom: 0px;
}

.scaled-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.scaled-image-fixed {
  display: block;
  width: 200px;
}

.badge-image {
  width: auto;
  height: 150px;
  float: right;
}

.news-title {
  font-size: 30px;
}

.infobox {
  padding-left: 40px;
  background-position: top left;
  background-size: 30px auto;
  background-repeat: no-repeat;
  margin: 0 0 0.5em 0;
  overflow: auto;
}

.infobox-marginless {
  margin-bottom: 0;
}

.infobox-news {
  background-image: url("../images/news-icon.png");
}

.infobox-calendar {
  background-image: url("../images/calendar-icon.png");
}

.infobox-copyright {
  background-image: url("../images/copyright-icon.png");
}

.infobox-flower {
  background-image: url("../images/flower-icon.png");
}

.infobox-truck {
  background-image: url("../images/truck.png");
}

.infobox-scale {
  background-image: url("../images/scale.png");
}

.infobox-title {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  font-size: 10px;
}

.infobox-subtitle {
  margin: 0.5em 0 0.5em 0;
}

.infobox-content {
  margin: 0 0.5em;
}

.infobox-link {
  margin: 0 0.5em;
}

.infobox-title-secondary-color {
  color: #ffffff;
}

.separator {
  width: 200px;
  margin: auto;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #e0aacd;
  border-radius: 5px;
  background-image: url("../images/dot.png");
  background-size: 10px;
  background-repeat: repeat-x;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart {
  text-align: left;
  max-width: 300px;
  height: 400px;
}

.cart-item,
.cart-header {
  display: flex;
  flex-flow: row wrap;
}

.cart-item-title,
.cart-header-title {
  flex: 1;
  color: #ab4f8b;
}

.cart-item-quantity {
  flex: 1;
  max-width: 30px;
}

.cart-header {
  border-bottom: 1px solid #e0aacd;
  color: #ab4f8b;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.cart-item-price {
  flex: 1;
}

.cart-btn {
  cursor: pointer;
  background-image: url(../images/cart-icon.svg);
  width: 30px;
  height: 30px;
  margin: auto;
}

.cart-btn:hover {
  opacity: 0.3;
}

.cart-menu img {
  opacity: 0.5;
}

.cart-menu:hover img, .cart-menu-active img {
  opacity: 1;
}

.cart-menu-status {
  display: flex;
}

.cart-menu-status div {
  padding: 2px;
}

.photo-box {
  text-align: center;
}

.photo-box-title {
  font-size: 30px;
}

.photo-box-image {
  width: 200px;
  height: 200px;
  background-color: #e0aacd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1em;
}

.link:hover {
  color: #ffffff;
  text-decoration: none;
}

.link-active {
  text-decoration: underline;
  color: #ffffff;
}
.title {
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: antiquewhite;
}

.battery-visualize-img { 
  width: 80px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
.battery-visualize-box { 
  display: grid;
  grid-template-rows: 2fr 1fr;
  width: 150px;
}
.battery-visualize-text { 
  color: #ffffff;
  margin: auto;
}

.vel-visualize-box-spraying {
  display: grid;
  grid-template-columns: auto auto;
}

.vel-visualize-img { 
  width: 800px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

/*
.vel-visualize-img:hover {
  width: 610px;
  margin-left: -5px;
  margin-top: -5px;
  transition: 0.3s;
}
*/

.vel-visualize-img-spraying { 
  width: 200px;
  height: 150px;
  margin: -20px -30px -20px -30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.vel-visualize-text { 
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}
.vel-visualize-text-spraying { 
  display: block;
  margin:auto;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 12px;
}

.tank-visualize-img { 
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
.tank-visualize-box { 
  display: grid;
  grid-template-rows: auto auto;
  margin: auto;
}
.tank-visualize-text { 
  color: black;
  margin: auto;
}
.tank-visualize-boxes {
  width: 800px;
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
}

.last-menu-item {
  margin-right: auto;
}

.ros-status {
  display: grid;
  margin-left: 30px;
  grid-template-rows: auto auto;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}

#ros-status {
  font-weight: bolder;
}
.info-table-div {
  background-color: #444444;
  border-radius:8px 0px 0px 8px;
}

.info-table {
  /*margin-bottom: auto;
  margin-top: auto;*/
  margin: auto;

  font-size: 20px;
  width: 500px;
  color: white;
  padding: 50px;
  table-layout: fixed;
}

.info-table-right-column {
  width: 200px;
}

.info-table-right-column-small {
  width: 80px;
  text-align: right;
}

.info-table-left-column {
  width: 350px;
}

.tooltip {
  display:inline-block;
  position:relative;
  text-align:center;
}

.tooltip h3 {margin:12px 0;}

.tooltip .right {
    min-width:150px;
    max-width:400px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:0;
    color:#EEEEEE;
    background-color:#444444;
    font-weight:normal;
    font-size:10px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.6s;
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right img {
    width:400px;
    border-radius:8px 8px 0 0;
}
.tooltip .text-content {
    padding:10px 20px;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}
.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#444444;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.tooltip-button {
  width: 40px;
}

.tooltip-button:hover {
  width: 45px;
  margin-left: -2.5px;
  margin-top: -2.5px;
  transition: 0.3s;
}

.kinova-tooltip {
  position: absolute;
  left: 245px;
  top:200px;
}

.tank-tooltip {
  position: absolute;
  left: 520px;
  top:390px;
}

.drives-tooltip {
  position: absolute;
  left: 195px;
  top: 470px;
}

.home-image {
  width: 650px; 
}

.home-viv-image:hover {
  width: 680px;
  margin-left: -15px;
  margin-top: -15px; 
  transition: 0.8s;
}
.home-uav-image:hover {
  width: 680px;
  margin-left: 15px;
  margin-top: -15px; 
  transition: 0.8s;
}

.grey-color-div {
  display: inline-block;
  background-color: #444444;
  border-radius:8px 8px 8px 8px;
  color: white;
  font-weight: bold;
  width: 100px;
}

#drive_1_div {
  position: absolute;
  left: 300px;
  top: -20px;
}
#drive_2_div {
  position: absolute;
  left: 500px;
  top: 130px;
}
#drive_3_div {
  position: absolute;
  left: 20px;
  top: 280px;
}
#drive_4_div {
  position: absolute;
  left: -100px;
  top: 100px;
}