
* {
  background-color: rgb(151, 151, 151);
  font-family: 'Roboto', sans-serif;;
}

.titles {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.vel-visualize-box {
  width: 500px;
  height: 500px;
  background-image: url("../images/viv_driving/viv_driving_1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
